---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		
		<h1>My Astro Site</h1>
		<h2>Profile</h2>
		<p>Back in the 90s I founded a community art studio (Oblong Community Resource Centre), produced live art events, organised exhibitions, produced jungle raves, done stints as a studio photographer, mural painter, community artist and graphic design tutor. I’ve worked with NHS Primary Care Trusts, lead design and ecommerce operations for retail brands and created web profiles for physical theatre artists, hip hop artists, DJs, antique dealers and classical music composers. I am qualified permaculture designer and practice siliviculture. I am doing my bit to restore Coed Eryri.</p>
	</body>
</html>
